body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}


header {
  background: #ee4d2d;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.login-card {
  max-width: 300px;
  margin: auto;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
